page-logout {
    .footer {
        position:absolute;
        bottom:0;
        text-align: center;
        height:30%;   /* Height of the footer */
      }

      .footer h1 {
        text-align: center;
        font-size: 50px;
      }
}
